.ipfield {
	width: 15%;
}

.col-lg-12, .col-md-12, .col-sm-12 {
	text-align: center;
}

#result {
	text-align: left;
	padding: 0;
	list-style: none;
	transition: 0.2s;
	font-size: 17px;
}

#result>li:hover {
	transition: 0.2s;
	background-color: white;
}

.blue {
	color: #6ea7de;
}

.valueRight {
	float: right;
}

#brand {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Nunito-Light";
	src: local("lib/font-awesome/fonts/Nunito-Light.ttf"), url("lib/font-awesome/fonts/Nunito-Light.ttf") format("truetype");
}

#formCalc {
	background-color: #f8f9fa;
	text-align: center;
	padding: 40px;
	border-radius: 2px;
}

.mainDiv {
	border-radius: 2px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 210px;
}

footer {
	padding-top: 15px;
	text-align: center;
	padding-bottom: 15px;
}

#calc {
	background-color: #FC345C;
	border: 0px;
	margin-top: 20px;
	color: #f8f9fa;
	transition: 0.3s;
}


#calc:hover {
	background-color: #DA162C;
	color: #f8f9fa;
	transition: 0.3s;
}

.entrez {
	font-size: larger;
	padding-bottom: 10px;
}

p {
	padding-top: 5px;
}

#logo {
	width: 40px;
	height: 35px;
}

a.navbar-brand {
	padding-top: 10px;
}

body {
	height: 100%;
	background: url(./lib/img/background.jpg) fixed;
	background-size: cover;
	font-family: "Nunito-Light";
}

#classe {
	margin-top: 40px;
}

#contact {
	margin-top: 75px;
	margin-bottom: 75px;
}

h2 {
	margin-top: 80px;
	text-align: center;
	color: #f8f9fa;
}

.profile {
	padding: 25px;
	transition: 0.5s;
}

.profile:hover {
	transition: 0.5s;
	background-color: rgba(255, 255, 255, 0.25);
}

.profile:hover>.profile_image {
	padding: 6px;
	transition: 0.5s;
	background-color: #FC345C;
}

.profile_image {
	height: 200px;
	width: 200px;
	padding: 4px;
	transition: 0.5s;
	background-color: rgba(255, 255, 255, 0.6);
	margin: auto;
	border-radius: 50%;
	display: block;
}

.profile>p {
	padding: 10px;
	margin: 0px;
	color: #f8f9fa;
}

.profile>p>a {        /* "profile qui a un enfant direct p, qui a un enfant direct a" */
	font-size: 50px;
	margin: 10px;
	text-decoration: none;
	color: #f8f9fa;
	transition: 0.3s;
}

.profile>p>a:hover {
	transition: 0.3s;
	color: #FC345C;
}

form>p>.blue {
	font-size: 25px;
}

form {
	line-height: 25px;
}